@use "../../../variables" as *;
@use "../../../mixins" as *;

.container {
    @include flex-center;
    min-height: 100vh; 
    justify-content: center;
    padding: 1rem;
}

.card{
    width: 100%;
    max-width: 60vh;
    background-color: $neutral-700;
    border: 1px solid $neutral-700;
    border-radius: $border-radius;
    padding: 20px;
    
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: $neutral-100;
    text-align: center
}

.form 
.formGroup{
    @include flex-center;
    width: 100%;
}

.input {
    width: 200px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $neutral-100;
    border-radius: 6px;
    font-size: 1rem;

    background-color: transparent;
    color: $neutral-100
}

.button {
    @include button-base;
    width: 300px;
    background-color: $primary-600;
    color: $neutral-100;
    font-size: 1rem;

    &:hover {
        opacity: 0.9;
        //background-color: $primary-600;
    }
}

.error{
    color: $error-500;
    font-size: 0.875 rem;
}

@media (min-width: $bp-tablet){
    .card{
        max-width: 400px;
        padding: 25px 35px;
    }

    .title{
        font-size: 1.7rem;
    }
}

@media (min-width: $bp-desktop){
    .card{
        max-width: 420px;
        padding: 30px 40px;
    }

    .title{
        font-size: 1.9rem;
    }
}

@media (min-width: $bp-large){
   .card{
        max-width: 450px;
   } 
}